:root {
  --width_text: 32rem;
  --width_page: 48rem;
  --width_layout: 64rem;

  --margin_content_minimum: 1.5rem;

  --margin_content_text: clamp(var(--margin_content_minimum), 100%, 50% - var(--width_text) / 2);
  --margin_content_page: clamp(var(--margin_content_minimum), 100%, 50% - var(--width_page) / 2);
  --margin_content_layout: clamp(
    var(--margin_content_minimum),
    100%,
    50% - var(--width_layout) / 2
  );
}
